<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.kxw.spring"/>

    <bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--目标对象-->
        <property name="target" ref="springAopTarget"/>
        <!--目标对象的接口-->
        <property name="proxyInterfaces">
            <list>
                <value>com.kxw.spring.aop.SpringAopInter</value>
            </list>
        </property>
        <!--通知-->
        <property name="interceptorNames">
            <list>
                <value>countingBeforeAdvice</value>
                <value>countingAfterReturningAdvice</value>
            </list>
        </property>
    </bean>

    <bean id="person" class="com.kxw.spring.ioc.Person">
        <property name="name" value="zhangsan"/>
        <property name="age" value="14"/>
    </bean>
    <bean id="animal" class="com.kxw.spring.ioc.Animal">
        <property name="name" value="xiaowang"/>
        <property name="src" value="shanxi"/>
    </bean>

    <bean id="world" class="com.kxw.spring.ioc.World" depends-on="person, animal">
        <property name="person" ref="person"/>
        <property name="animal" ref="animal"/>
    </bean>


</beans>