<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--基本类型注入-->
    <bean id="person" class="com.kxw.spring.ioc.Person">
        <property name="name" value="zhangsan"/>
        <property name="age" value="14"/>
    </bean>

    <bean id="personCtor" class="com.kxw.spring.ioc.Person">
        <constructor-arg name="name" value="ctor"/>
        <constructor-arg name="age" value="15"/>
    </bean>

    <bean id="animal" name="animal2, animal3, animal4" class="com.kxw.spring.ioc.Animal">
        <property name="name" value="xiaowang"/>
        <property name="src" value="shanxi"/>
    </bean>

    <!--依赖注入-->
    <bean id="world" class="com.kxw.spring.ioc.World" depends-on="person,animal">
        <constructor-arg index="0" name="person" ref="person"/>
        <constructor-arg name="animal" ref="animal"/>
        <property name="name" value="world"/>
        <property name="person.age" value="15"/>
    </bean>

    <bean id="world2" class="com.kxw.spring.ioc.World" autowire="byType">
        <property name="animal" ref="animal"/>
        <property name="person" ref="person"/>
        <property name="name">
            <idref bean="animal"/>
        </property>
        <property name="persons">
            <list>
                <ref bean="person"/>
                <ref bean="person2"/>
            </list>
        </property>
    </bean>

    <!--别名标签-->
    <alias name="person" alias="person7"/>

    <!--parent和name的作用-->
    <bean id="person2" name="person3,person4;person5 person6" parent="person">
        <property name="name" value="zhangsan2"/>
    </bean>

    <!--bean的id属性名称-->
    <bean class="com.kxw.spring.ioc.Person">
        <property name="name" value="id1"/>
        <property name="age" value="14"/>
    </bean>
    <bean class="com.kxw.spring.ioc.Person">
        <property name="name" value="id2"/>
        <property name="age" value="14"/>
    </bean>

    <!--bean的子元素lookup-method和replace-method的作用-->
    <bean id="player" class="com.kxw.spring.ioc.subele.Player"/>
    <bean id="kobe" class="com.kxw.spring.ioc.subele.Kobe"/>
    <bean id="yao" class="com.kxw.spring.ioc.subele.Yao"/>

    <bean id="getBean" class="com.kxw.spring.ioc.subele.GetBean">
        <lookup-method bean="kobe" name="getBean"/>
    </bean>
    <bean id="getBean2" class="com.kxw.spring.ioc.subele.Kobe">
        <replaced-method name="who" replacer="yao"/>
    </bean>

    <bean id="processor" class="com.kxw.spring.ioc.lifecycle.PostProcessor"/>

</beans>